.main_container {
}

.main_content {
  width: 1080px;
  text-align: center;
  margin: 0 auto;
}

.main_content-results {
  display: inline-flex;
}

.main_content-results > *:only-child {
  width: 100%;
}

.main_content-results > *:not(:only-child) {
  width: 50%;
}
